---
layout: default
title: Quinn Perfetto 
permalink: /
---
<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

    <h1>
      Quinn Perfetto
    </h1>
    <h2>Software Engineer.  Creative Thinker.</h2>

    <small>
        <a href="https://github.com/quinny">GitHub</a>&#x30FB;
        <a href="https://ca.linkedin.com/in/qperfetto">LinkedIn</a>
    </small>
  </header>

  <div class="page-content">
      <h2>Personal Projects <small>&#x30FB; the fun stuff</small></h2>
    {% for post in site.tags.project %}
        {% include themes/{{ site.theme }}/includes/page-item.html %}
    {% endfor %}
  </div>
</article>
