<!-- List snippets -->

<!-- Dynamic link color based on post color scheme -->
{% capture post_link_color %}
    {% if post.scheme-text %}
        style="color: {{ post.scheme-text }};"
    {% endif %}
{% endcapture %}

<section class="list">
  <h1>

    <!-- External link indicator -->
    {% if post.link %}
    <a href="{{ post.link }}" {% if site.data.curtana.colorful_list %}{{ post_link_color }}{% endif %}
        class=external target="_">
        {{ post.title }}
        <span class="dot"></span>
    </a>
     {% else %}
    <!-- Item title -->
    <a href="{{ post.url | prepend: site.base }}" {% if site.data.curtana.colorful_list %}{{ post_link_color }}{% endif %}>{{ post.title }}</a>
    {% endif %}
  </h1>
</section>
